<% if @user_token %>
  <p>
    <strong>Your Access Token is:</strong> <br />
    <em><%= @user_token %></em>
  </p>
<% else %>
  <p>
    <a href='/auth/facebook'>Get my token and my accounts</a>
  </p>
<% end %>