<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if (gt IE 6)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<!-- simplified character encoding -->
	<meta charset="utf-8">
	<title>Facebook Authorize</title>
	<meta name="description" content="Facebook Authorize Bullshit Shortcut">
	<meta name="author" content="Adrian Cuadros">
</head>
<body>
		<%= yield %>
</html>